QLabel#wol{
    font-size:30px;
    color:red;
    border: 1px solid blue;

}

QLabel#hel{
    font-size:30px;
    color:red;
    border: 2px solid green;

}

QLabel[bor='yellow']{
    font-size:30px;
    color:red;
    border: 2px solid yellow;

}